apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat
  namespace: tomcat-app
  labels:
    app: tomcat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tomcat
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      containers:
      - name: tomcat
        # Use Bitnami Tomcat image
        image: bitnami/tomcat:10
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: TOMCAT_USERNAME
          value: admin
        - name: TOMCAT_PASSWORD
          value: admin123
